In [18]:
import pandas as pd
df = pd.read_parquet('data/datasets/mbpp_dataset_20250528_122438.parquet')
print(df.columns)
df[['task_id', 'test_passed', 'reference_complexity', 'difficulty_category']].head()

Index(['task_id', 'generated_code', 'test_passed', 'reference_complexity',
       'difficulty_category'],
      dtype='object')

   task_id  test_passed  reference_complexity difficulty_category
0       11         True                     5              medium
1       12        False                     1                easy
2       13        False                     1                easy