In [41]:
import pandas as pd
import os
from pathlib import Path

In [44]:
# Paste the parquet file path here
file_path = "../data/datasets/complete_mbpp_difficulty_mapping_20250608_171303.parquet"  # Replace with your parquet file path

In [45]:
# Load parquet file and display basic info
df = pd.read_parquet(file_path)

print(f"Dataset Information:")
print(f"Number of records: {len(df):,}")
print(f"Number of columns: {len(df.columns)}")
print(f"Columns: {list(df.columns)}")
print(f"File size: {os.path.getsize(file_path) / (1024**2):.2f} MB")

Dataset Information:
Number of records: 974
Number of columns: 2
Columns: ['task_id', 'cyclomatic_complexity']
File size: 0.01 MB

In [46]:
# Display column types and basic statistics
print("Column Information:")
print(df.info())
print("\nData types:")
print(df.dtypes)

Column Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 974 entries, 0 to 973
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   task_id                974 non-null    object
 1   cyclomatic_complexity  974 non-null    int64
dtypes: int64(1), object(1)
memory usage: 15.3+ KB
None

Data types:
task_id                  object
cyclomatic_complexity     int64
dtype: object

In [48]:
# Display first 10 records in a clean table format
print("First 10 records:")
df.head(10)

First 10 records:

  task_id  cyclomatic_complexity
0       1                      7
1       2                      1
2       3                      3
3       4                      1
4       5                      2
5       6                      2
6       7                      1
7       8                      1
8       9                      3
9      10                      1